<style>
h1 { color:#99cc00;
font-family: verdana }

h2 { color:#00ccff;
font-family: verdana}
</style>

<h1>PLAYER 1: <%=@name1%></h1>
</b>
<h1>PLAYER 2: <%=@name2%></h1>

<h2><%=@name1%> has <%=@player1_hp%>HP</h2>
<h2><%=@name2%> has <%=@player2_hp%>HP</h2>

<h2>It is <%= @current_player_name %>'s turn to attack</h2>

<form action="/attack" method="post">
<input type="submit" name ="attack" value="Attack">
</form>
